body {
  text-align: center;
  font-family: Arial;
}

#sudoku {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-template-rows: repeat(9, 40px);
  margin: 20px auto;
}

input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #999;
}

/* Dicke Linien für 3x3 */
input:nth-child(3n) {
  border-right: 3px solid black;
}

input:nth-child(n+19):nth-child(-n+27),
input:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 3px solid black;
}

input:disabled {
  background: #eee;
  font-weight: bold;
}
